{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Fund Application Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <style>
        form{
            margin-left: 80px;
        }
    </style>
<form action="https://formsubmit.co/ruraliz12@gmail.com" id="ft-form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
    <fieldset>
      <legend>Fund Application</legend>
      <label>
        Application for *
        <select name="Application for" required>
          <option><a href="/fund/{{fund.id}}" class="btn btn-primary">{{fund.name}}</a></option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <legend>  Details of the Applicant </legend>
      <div class="two-cols">
        <label>
          Company/Business Name *
          <input type="text" name="First name" required>
        </label>
        <br>
        <label>
          Contact Person *
          <input type="text" name="Family name" required>
        </label>
        <br>
      </div>
      <label>
        Address of Company or Contact Person
      </label>
      <br>
      <div class="two-cols">
        <label>
            Country
            <input type="text" name="COUNTRY">
          </label>
          <br>
          <label>
            City
            <input type="text" name="City">
          </label>
          <br>
        <label>
        Address
          <input type="text" name="Address">
        </label>
        <br>
        <label>
          ZIP Code
          <input type="text" name="ZIP">
        </label>
      </div>
      <div class="two-cols">
        <label>
          Phone *
          <input type="tel" name="Phone" required>
        </label>
        <br>
        <label>
          Email address *
          <input type="email" name="Email" required>
        </label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Application documents</legend>
      <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
      <div class="two-cols">
        <label>
          Application letter
          <input type="file" name="Application letter" accept=".doc,.docx,.pdf">
        </label>
        <br>
        <label>
          Company Website
          <input type="file" name="Curriculum vitae" accept=".doc,.docx,.pdf">
        </label>
      </div>
      <p>Possible file types: DOC, PDF. Maximum file size: 10 MB.</p>
    </fieldset>
    <button type="submit" class="btn btn-primary" style= "margin-left: 200px" >Submit</button>
  </form>
  <span style= "margin-left: 500px" class= "glyphicon glyphicon-chevron-left"></span><a  style= "font-weight: bolder; color: rgb(68, 127, 61);" href="/job">Go Back to Funds</a>
</body>
</html>

{% endblock %}