{% extends 'base.html'%}
{% block content %}
{% for fund in funds %}
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ fund.name }}</h5>
          <p class="card-text">{{ fund.description }}</p>
          <p class="card-text"> Qualification: {{ fund.qualification }}</p>
          <p class="card-text"> Deadline: {{ fund.deadline }}</p>
          <a href="/fund/{{fund.id}}" class="btn btn-primary">View {{fund.name}}</a>
        </div>
    </div>
{% endfor %}
{% endblock %}