{% extends 'base.html' %}
{% block content %}
<p>Biba has a long term vision of building a world class investment management firm (machine). 
    For this goal, Biba aims to build a multistrategy machinery that will contain VC business, PE business, 
    HF business, REITs, and Alternative Asset investment business. Given our lofty ambitions as a firm, 
    we will craft a Roadmap of short term goals, 
    mid-term goals, and long term goals, which will be a year, three years, and ten years respectively. 
    Primarily we want to build a VC business. </p>
   <img src="static/bibalogo.jpg"> 
{% endblock %}    