{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Investment Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">    
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="static/Instant_delivery.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Insta-Med</h3>
           <h5>Goal:Improve the Medical supply system (fast and accessible)</h5>
           <h5>Rwanda</h5>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <h3>Problem</h3>
            <p>All the reporting from health centers to RMS is done manually</p>
            <p>At the end of the fiscal year, it takes 6 months for medical centers, etc to get the requested inventory</p>
            <p>All the acquisition is only done at the end of the fiscal year</p>
            <p>When a physician orders an equipment through RMS, it takes around 2 months</p>
          </div>
          <div class="well">
            <h3>Solution </h3>
            <p>Real time supply management used by hospitals and clinics</p>
            <p>Automated reporting and statistics of inventory (Allow to even share inventory in between health centers)</p>
            <p>Predicting the amount of inventory that will be needed by any particular health center (usage)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Ironji</h3>
           <h5>Goal:</h5>
           <h5>Ghana</h5>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <h3>Problem</h3>
          </div>
          <div class="well">
            <h3>Solution</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Jamii</h3>
           <h5>Goal:</h5>
           <h5>Kenya</h5>
          </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <h3>Problem</h3>
                <P>A lot of architecture design in Rwanda are based on old-fashion designs</P>
                <p>Many artichetural designs in Rwanda in are not modeled after the Rwandan culture</p>
              </div>
              <div class="well">
                <h3>Solution</h3>
                <P>Introduce architectural designs inspired by Rwandan culture</P>
                <p>Incorporate designs by Rwandan local artists</p>
                <p>Deisgn more modern and creative designs for the emerging cities surrounding Kigali, the capital city of Rwanda</p>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Kalinga</h3>
           <h5>Goal:To bring innovatie architecture inspired by Rwandan tradition and art</h5>
           <h5>Rwanda</h5>
          </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <h3>Problem</h3>
              </div>
              <div class="well">
                <h3>Solution</h3>
              </div>
        </div>
      </div>     
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}