{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Investment Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">    
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="../static/Instant_delivery.jpg" class="img-circle" height="55" width="70" alt="Avatar">
           <h3>Insta-Med</h3>
           <h5 style= "font-weight: bold">Improve the Medical supply system (fast and accessible)</h5>
           <h5 class="glyphicon glyphicon-flag">Rwanda</h5>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <h3>Problem</h3>
            <p>All the reporting from health centers to RMS is done manually</p>
            <p>At the end of the fiscal year, it takes 6 months for medical centers, etc to get the requested inventory</p>
            <p>All the acquisition is only done at the end of the fiscal year</p>
            <p>When a physician orders an equipment through RMS, it takes around 2 months</p>
          </div>
          <div style= "background-color: rgb(146, 216, 146)" class="well">
            <h3>Solution </h3>
            <p>Real time supply management used by hospitals and clinics</p>
            <p>Automated reporting and statistics of inventory (Allow to even share inventory in between health centers)</p>
            <p>Predicting the amount of inventory that will be needed by any particular health center (usage)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="../static/ironji.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Ironji</h3>
           <h5 style= "font-weight: bold">Our goal is to making life more convenient by providing moving trucks to everyday people or organizations </h5>
           <h5 class="glyphicon glyphicon-flag">Ghana</h5>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <h3>Problem</h3>
            <p>There are not many available form of transportaion large enough to make moving a much easier task</p>
            <p>There are no set systems in place to connect people who want to move and need help/infrastructure with a business  that can provide such services</p>
          </div>
          <div style= "background-color: rgb(146, 216, 146)" class="well">
            <h3>Solution</h3>
            <p>We strive to provide, trucks and equipments necessary to move heavy objects</p>
            <p>Connect clients with service providers in timely manner based on location and hours of service</p>
            <p>Provide reasonable rates/discounts for the service provided</p>
            <p>Allow the clients to review the service providers and service provided</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="../static/kalinga.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3>Kalinga</h3>
           <h5 style= "font-weight: bold">To bring innovatie architecture inspired by Rwandan tradition and art</h5>
           <h5 class="glyphicon glyphicon-flag">Rwanda</h5>
          </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <h3>Problem</h3>
                <P>A lot of architecture design in Rwanda are based on old-fashion designs</P>
                <p>Many artichetural designs in Rwanda in are not modeled after the Rwandan culture</p>
              </div>
              <div style= "background-color: rgb(146, 216, 146)" class="well">
                <h3>Solution</h3>
                <P>Introduce architectural designs inspired by Rwandan culture</P>
                <p>Incorporate designs by Rwandan local artists</p>
                <p>Deisgn more modern and creative designs for the emerging cities surrounding Kigali, the capital city of Rwanda</p>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
           <h3></h3>
           <h5>Goal: Helps young kinds find their talents, capabilities and strengths are to prepare them for a better future and eliminate the guess work that often comes with emotional and psychological burden</h5>
           <h5 class="glyphicon glyphicon-flag">Kenya</h5>
          </div>
        </div>
        <div class="col-sm-9">
            <div class="well">
                <h3>Problem</h3>
                <p>guess works </p>
                <p> exposure without guidance </p>
              </div>
              <div style= "background-color: rgb(146, 216, 146)" class="well">
                <h3>Solution</h3>
                <P>PHSYCH PARENTS</P>
                <P>lessons piano, karate</P>
                <p>provide phhsych </p>
              </div>
        </div>
      </div>     
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}