{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="container text-center">
          <h1>The TEAM</h1>
        </div>
      </div>
      <div class="row">
                <div className= 'dev'>
                    <div class="col-xs-12 col-md-4">
                        <img src="../static/fabrice.jpg" className='img' alt="Hnin"/>
                        <h4>Fabrice Bigabiro </h4>
                        <h5> position</h5>
                        <a href="https://www.linkedin.com/in/hnin-mabalo/">  <i class="fa fa-linkedin fa-fw"></i></a></a>
                    </div>
    
                    <div class="col-xs-12 col-md-4">
                        <img style= "width: 100px" src="../static/Thierry.jpg" className='img' alt="Rene"/>
                        <h4>Thierry Uwase</h4>
                        <h5>position</h5>
                        <p></p>
                        <a href="https://www.linkedin.com/in/hnin-mabalo/">  <i class="fa fa-linkedin fa-fw"></i></a></a>
                    </div>
                   
                    <div class="col-xs-12 col-md-4">
                        <img src="../static/Placide.jpg" className='img' alt="Hnin"/>
                        <h4>Placide Gatabazi</h4>
                        <h5>position</h5>
                        <a href="https://www.linkedin.com/in/hnin-mabalo/">  <i class="fa fa-linkedin fa-fw"></i></a></a>
                    </div>
                </div>    
            </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
